{% extends "email.web.twig" %}

{% block content %}

    <table border="0" bgcolor="#F8F8F8" width="95%" cellpadding="10" style="margin: 5px 0;font-family: Arial;font-size: 14px;color:#000000;">
        <tr>
            <td align="left">
                <h1>{{ title }}</h1>
                <div>
                    <p>EL usuario ha confirmado su cuenta de correo.</p>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}